/*Default Style*/

@font-face {
    font-family: Lobster;
    src: url(font/Lobster.otf);
}

body{
    background-color: white;
    margin: 0;
    padding: 0;
}

#second{
  background-color: white;
  height: 650px;
}

#second .section{
    width: inherit;
    height: inherit;
    color: #4000ff;
    /*border: 3px solid #73AD21;*/
    transition: 1000ms;
}

#second span{
  color: red;
  font-family: "Lobster", Helvetica;
}

#second .content {
    margin: auto;
    width: 90%;
    height: inherit;
    display: table;
    margin: auto;
    padding: 10px;
}

#second h1{
  color: black;
  font-family: "Bebas Neue", Helvetica, sans-serif;
  font-size: 50px;
  letter-spacing: 0px;
  line-height: 200%;
  margin-bottom: 50px;
  text-align: center;
  text-transform: uppercase;
}

#second h3{
  color: black;
  font-family: "PT Sans", Helvetica, sans-serif;
  font-weight: 600;
  line-height: 100%;
}

#second img {
    width: 60%;
    height: auto;
    display: table;
    margin: auto;
    opacity: 0.8;
    filter: alpha(opacity=80);
    transition: all 1.5s ease-in-out;
}

#second img:hover {
    width: 70%;
    height: auto;
    /*transform: scale(1.1);*/
    opacity: 1;
    filter: alpha(opacity=100);
}

#second .col-md-4{
  margin: 0 auto;
  color: black;
  min-height: 1px;
  padding-left: 20px;
  padding-right: 20px;
  font-family: "PT Sans", sans-serif;
  box-sizing: border-box;
  display: table-cell;
  vertical-align: middle;
}

#about-us-1{
  width: 50%;
  padding-left: 50px;
}

#about-us-2{
  width: 50%;
}



/*@media only screen and (max-width: 768px) {
  #second{
  width:150px;
  height:150px;
  background-color: black
  }
}

@media only screen and (max-width: 1024px) {
  #second{
  width:250px;
  height:250px;
  background-color: black
  }
}

@media only screen and (max-width: 500px) {
    body {
        background-color: lightblue;
    }
}*/

/*Custom Style for each Section*/

/*----SECTION 1----*/
#first{
    background-image: url(20_Bali_157140794-1680x1050.jpg);
}

#first:hover{
    opacity: 0.5;
}

/*----SECTION 2----*/

/*----SECTION 3----*/
#third{
  margin-left:  0%;
}
#navbar {
  float: left;
  width: 50%;
}
<<<<<<< HEAD
=======

#content {
  float: left;
  width: 50%;
}
>>>>>>> origin/About-Us
