/*Default Style*/

body{
    background-color: black;
    margin: 0;
}

.section{
    width: inherit;
    height: inherit;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 16px;
    color: #4000ff;
    /*border: 3px solid #73AD21;*/
    transition: 1000ms;
}

h1, h2, h3{
  color: black;
  font-family: "PT Sans", Helvetica, sans-serif;
  font-weight: 600;
  line-height: 1.3em;
}

.head-section{
  text-align: center;
  text-transform: capitalize;
}

#second{
  background-color: white;
}

#third-pic{
  width: 200px;
  height: 200px;
  background-color: black;
}

.content {
    margin: auto;
    width: 70%;
    /*border: 3px solid blue;*/
    padding: 30px;
    padding-top: 100px;
    padding-bottom: 100px
}


/*Custom Style for each Section*/

/*----SECTION 1----*/
#first{
    background-image: url(20_Bali_157140794-1680x1050.jpg);
}

#first:hover{
    opacity: 0.5;
}

/*----SECTION 2----*/
