/*Default Style*/

body{
    background-color: black;
    margin: 0;
    padding: 0;
}

#second{
  background-color: white;
  height: 750px;
}

.section{
    width: inherit;
    height: inherit;
    color: #4000ff;
    /*border: 3px solid #73AD21;*/
    transition: 1000ms;
}

.content {
    margin: auto;
    width: 90%;
    height: inherit;
    display: table;
    margin: auto;
    padding: 30px;
    border: 3px solid blue;

}

h1{
  color: black;
  font-family: "PT Sans-Black", Helvetica, sans-serif;
  font-size: 35px;
  letter-spacing: 10px;
  line-height: 200%;
  margin-bottom: 50px;
}

img {
    width: 100%;
    height: auto;
    display: table;
    margin: auto;
    opacity: 0.8;
    filter: alpha(opacity=80);
    transition: all 1.5s ease-in-out;
}

img:hover {
    width: 110%;
    height: auto;
    /*transform: scale(1.1);*/
    opacity: 1;
    filter: alpha(opacity=100);
}

.row{
  display: table;
}

h3{
  color: black;
  font-family: "PT Sans", Helvetica, sans-serif;
  font-weight: 600;
  line-height: 100%;
}

.head-section{
  text-align: center;
  text-transform: uppercase;
}

.col-md-4{
  display: inline-block;
  margin: 0 auto;
  width: 33%;
  color: black;
  min-height: 1px;
  padding-left: 25px;
  padding-right: 25px;
  font-family: "PT Sans", sans-serif;
  box-sizing: border-box;
  display: table-cell; vertical-align: middle;
}



/*@media only screen and (max-width: 768px) {
  #second{
  width:150px;
  height:150px;
  background-color: black
  }
}

@media only screen and (max-width: 1024px) {
  #second{
  width:250px;
  height:250px;
  background-color: black
  }
}

@media only screen and (max-width: 500px) {
    body {
        background-color: lightblue;
    }
}*/

/*Custom Style for each Section*/

/*----SECTION 1----*/
#first{
    background-image: url(20_Bali_157140794-1680x1050.jpg);
}

#first:hover{
    opacity: 0.5;
}

/*----SECTION 2----*/

/*----SECTION 3----*/
#third{
  margin-left:  0%;
}
#navbar {
  float: left;
  width: 50%;
}